[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
httpx = {extras = ["http2"], version = "==0.28.1"}

[dev-packages]
pytest = "==8.4.2"
pytest-cov = "==7.0.0"
pytest-httpx = "==0.35.0"
switcher-client = {file = ".", editable = true}
